{% extends 'index.html' %}

    {% load static %}

    {% block intermedio %}
        <img src="{% static 'img/Intermedio/intermedio_visualizar.gif' %}" alt="Carrousel" class="principal_intermedio">
    {% endblock %}
    <!-- Main -->
    {% block cuerpo %}
    <h1 class="tit2">Descubre tu próximo auto</h1>
        <div class="contenedor_visualizar">
            <!-- 
                i-- Variable para el conteo
                forms -- Palabra enviada desde "Data" para Traer los Datos
                for -- Ciclo por Conteo
                Desde el Primer Elemento hasta el Ultimo elemento
            -->
            {% for i in forms %}
            <div class="card" style="width: 18rem;">
                <!-- Pasamos la Ruta de la Imagen Registrada -->
                <img src="{{i.Imagen.url}}" class="card-img-top" alt="Imagen BD">
                <div class="card-body">
                    <h5 class="card-title">Nombre:  {{i.Nombre}}</h5>
                    <h5 class="card-text">Marca:  {{i.Marca}}</h5>
                    <h5 class="card-text">Lugar: {{i.Lugar}}</h5>
                    <h5 class="card-text">Cantidad: {{i.Cantidad}}</h5>
                    <h5 class="card-text">Precio a contado: ${{i.Precio}}</h5>
                    <a href="{% url 'detalle_vehiculo' i.Codigo %}" class="btn btn-info">Ver Más</a>
                    {% if perms.App.change_Vehiculos %}
                    <a href="{% url 'modificar' i.Codigo %}" class="btn btn-primary">Editar</a>
                    {% endif %}
                    {% if perms.App.delete_Vehiculos %}
                    <a href="{% url 'eliminar' i.Codigo %}" class="btn btn-danger">Eliminar</a>
                    {% endif %}
                    </div>
              </div>
              {% endfor %}
        </div>
    {% endblock %}