/* ------> diseño para el navbar o el header */
*{
    text-decoration: none;
    list-style: none;
}
body{
    background: #f8f8f8;
}
/* Ajustes generales para los enlaces */
.nav-link, .dropdown-item {
    color: rgb(0, 0, 0) !important; /* Texto blanco */
    font-size: 20px;
    margin-top: 5px;
    padding-bottom: 10px; /* Espacio entre los otros a durante el hover */
    transition: transform 0.5s, filter 0.5s, border-bottom 0.5s; /* animacion */
    margin-right: 10px;
}
.navbar-brand{
    color: black;
    margin-left: 20px;
}
.nav-link:hover {
    transform: scale(105%);
    filter: drop-shadow(0px 0px 0.2px #2b2b2b);
    transition: 0.5s;
    padding-bottom: 5px; /* Espacio para la línea */
    border-bottom: 2px solid rgb(109, 109, 109); /* Línea fija debajo del enlace */
}

/* Fondo para la barra de navegación (en cualquier dispositivo) */
.navbar {
    position: fixed; /* Fijo en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que esté por encima del contenido */
    background-color: #ffffff !important; /* Color de fondo */
}
.navbar img{
    height: 70px;
    width: 100px;
    max-width: 150px;
}
.container-fluid a img {
    width: 300px;
    margin-left: 2px;
    cursor: pointer;
    transition: transform 0.8s;
    border: none;
}

.container-fluid a img:hover {
    transform: scale(105%);
    filter: drop-shadow(0px 0px 5px #4c6a88);
}

/* Ajustes para móviles */
@media (max-width: 767px) {
    .nav-link {
        width: 100px;    
    }
    .navbar-nav {
        padding-bottom: 2px; /* Espacio para la línea durante el hover */
        top: 0;
        left: 0;
        width: 30%;
        text-align: right; /* Alineación del texto a la derecha */
        padding-top: 50px; /* Ajustamos el espacio superior */
        padding-right: 20px; /* Ajustamos el espacio a la derecha */
    }
    .container-fluid a img {
        width: 250px;
        margin-left: -15px;
    }

    .navbar-nav .nav-item {
        margin-bottom: 20px; /* Separación entre los elementos del menú */
    }

    /* Menú colapsable que se expande desde la derecha */
    .navbar-collapse {
        z-index: 200;
        position: fixed; /* Fijo para ocupar toda la pantalla */
        top: 0;
        right: -100%; /* Fuera de la pantalla inicialmente */
        width: 100%; /* Ancho completo */
        height: 100%; /* Alto completo */
        background-color: #ffffff; /* Mismo color de fondo que la barra de navegación */
        transition: right 0.3s ease; /* Transición suave */
    }
    .navbar-collapse.show {
        right: 0; /* Mostrar el menú */
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: rgb(0, 0, 0);
        cursor: pointer;
    }
}

/* -----------------> diseño carrusel */

/* Estilos para el carrusel principal */
#carouselExample {
    margin-top: 100%; /* Espacio superior */
}

.carousel-inner img {
    border-radius: 5px;
    width: 100%; /* Ajuste automático del ancho */
    height: auto; /* Mantener proporciones de la imagen */
}

.container {
    background-color: #213c92;
    border-radius: 10px;
    padding: 13px;
    margin: 120px auto; /* Centrar el carrusel */
    max-width: 1500px; /* Limitar el ancho máximo */
}
.carousel img{
    border-radius: 20px;
}
/* ----> titulo */
.tit {
    text-align: center;
    color: rgb(38, 38, 41);
    margin-top: -80px;
}
.tit2 {
    text-align: center;
    color: rgb(38, 38, 41);
    margin: 100px auto;
    margin-bottom: 10px;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .carousel-inner img {
        width: 100%; /* Asegura que la imagen no se desborde en pantallas pequeñas */
    }
    .container {
        margin: 96px auto; /* Centrar el carrusel */
    }
    .tit{
        margin-top: -80px;
    }
}
/* -------> cartas */

.contenedor_visualizar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 80%;
 }
 .card{
     margin-top: 50px;
     max-width: 400px;
     border:0.1px solid #1a1a19;
     transition: transform 0.70s;
     filter: drop-shadow(0px 0px 1px #1a1a19);
     margin-bottom: 20px; /* Añade margen inferior */
 }
 .card:hover{
    transform: scale(105%);
    filter: drop-shadow(0px 0px 3px #1a1a19);
 }
 .card img{
     height:210px;
     color: #1a1a19;
 }
 .card-title{
     font-size: 30px;
 }
 .card-text{
     font-size: 20px;
 }
 .btn-primary{
     margin: auto;
 }
 
 
 
 @media (max-width: 768px) {
    .contenedor_visualizar {
        flex-direction: column; /* Apila las cartas verticalmente */
        align-items: center; /* Centra las cartas horizontalmente */
    }
     .card {
        margin-top: 20px;
        width: 70%; /* La carta ocupa todo el ancho del contenedor */
        max-width: none; /* Anulamos el max-width */
    }
     .card img{
         height:170px;
     }
     .card-title{
         font-size: 15px;
     }
     .card-text{
         font-size: 11.5px;
     }
     .contenedor_visualizar {
        justify-content: center; /* Centra las cartas */
    }
 }
.btn{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* ----> imagen con el boton diseño */
.contenedorimagen {
    position: relative; /* El contenedor será relativo para que los elementos dentro puedan posicionarse respecto a él */
    display: inline-block; /* Ajusta el tamaño al de la imagen */
    margin-top: 30px;
}

.btn3 {
    position: absolute; /* Botón será absoluto respecto al contenedor */
    top: 320px; /* Ajusta la posición desde la parte superior */
    left: 16%; /* Lo colocamos centrado horizontalmente */
    transform: translateX(-50%); /* Centramos exactamente el botón */
    z-index: 1; /* Nos aseguramos que el botón esté por encima de la imagen */
    height: 60px;
    width: 250px;
    color: #2b2b2b;
    font-size: 23px;
}

.imgprincipal {
    width: 100%; /* Ajusta el tamaño de la imagen al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

@media (max-width: 768px) {
    .contenedorimagen{
        margin-top: 30px;
    }
    .btn3 {
        top: 220px; /* Ajustamos la posición del botón para pantallas pequeñas */
        left: 50%; /* Centramos el botón horizontalmente */
        width: 200px; /* Reducimos el tamaño del botón */
        height: 50px; /* Ajustamos la altura del botón */
        font-size: 18px; /* Reducimos el tamaño del texto */
    }
}
/* Media Query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    .btn {
        top: 80px;
        left: 20%;
        width:110px; /* Reducimos más el tamaño del botón */
        height: 25px;
        font-size: 10px;
    }
}



/* --------> estilos de footer */
footer {
    background-color: #c5c5c5;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}

footer .derechos {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

footer .derechos a {
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}

footer .derechos a:hover {
    color: #001020;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
    gap: 10px; /* Espacio entre los elementos */
    color: rgb(0, 0, 0);
}

.item {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.info, .redes, .mapa {
    font-weight: normal;
    font-size: 17px;
    text-align: center;
}

.redes img {
    margin: 5px;
    width: 40px;
    transition: transform 0.2s ease;
}

.redes img:hover {
    transform: scale(1.1);
}

.mapa iframe {
    width: 100%; /* Asegura que el mapa ocupe todo el espacio disponible */
    height: 150px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
        text-align: center;
    }

    .item {
        margin-left: 0;
    }

    .info, .redes, .mapa {
        margin-left: 0;
    }

    .mapa iframe {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .redes img {
        width: 30px; /* Reducir el tamaño de los íconos en pantallas más pequeñas */
    }

    .mapa iframe {
        height: 180px;
    }
}

/* -------->diseño formularios<------ */
form {
    background-color: #021E73;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 120px auto;
    color: white;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(-1px 1px 5px rgb(255, 255, 255));
}
.titform{
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 25px;
    color: white;
    margin-top: 50px;
    font-size: 18px;
}


input[type="email"],
input[type="password"],
input[type="number"],
input[type="text"]{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: none;
    border-bottom: solid #4c6a88 2px ;
    outline: none;
    color: #ffffff;
    font-size: 20px;
}

#id_Nombre, #id_Marca, #id_Lugar{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: none;
    border-bottom: solid #4c6a88 2px ;
    outline: none;
    color: #ffffff;
    font-size: 20px;
}

#id_Desripcion{
    background-color: #4c6a88;
    border: none;
    width: 90%;
    outline: none;
    color: #ffffff;
    padding: 10px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contendor_agregar h1{
    text-align: center;
    margin-top: 30px;
}

.contendor_agregar form{
    width: 50%;
}

input.btn.btn-secondary {
    width:30%;
    text-decoration: none;
    list-style: none;
}

input.btn.btn-success {
    width:30%;
}

input.btn.btn-success a {
    text-decoration: none;
    list-style: none;
}


input[type="submit"] {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 5px;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    color:#213c92;
    font-weight: bold;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color:#4c6a88;
    color: #ffffff;
}

.volver {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.volver:hover {
    color: rgb(255, 255, 255);
    transform: scale(103%);
    transition: 0.5s;
}
#id_Nombre ,#id_Casa,#id_Hechizo, #id_Marca,#id_Lugar{
    width: 100%;
    height: 60px;
    border-radius: 10px;
}
.area{
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.principal_intermedio {
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* Añadir espacio debajo del carrousel */
}

