<!DOCTYPE html>
<diseñohtml lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexus</title>
    <!-- Hoja de Estilos -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Hoja de Estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="body">
    <header class="encabezado">
       <a href="{% url 'inicio' %}"><img src="{% static 'img/index/Nexus.png' %}" alt="Logo" title="Logo" class="logotipo"></a>
        <nav class="menu_selectivo">
            <a href="{% url 'agregar' %}">Vende tu auto</a>
            <!-- Nombre de URL-- visualizar -->
            <a href="{% url 'visualizar' %}">Compra tu auto</a>
            <!-- <a href="" id="contacto_btn">Contacto</a> -->
            <a href="">Contacto</a>
            {% if user.is_authenticated %}
            {% csrf_token %}
            <a href="{% url 'logouts' %}" id="contacto_btl">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" id="contacto_btl">Login</a>
            {% endif %}
        </nav>
    </header>
    <section class="intermedio">
        {% block intermedio %}
        <!-- <img src="{% static 'img/Intermedio/intermedio_gif.gif' %}" alt="Carrousel" class="principal_intermedio"> -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/Autos/Jeep Renegade.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/Autos/Volkswagen Polo.jpg' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/Autos/Volkswagen Taos 1.4 250 Tsi Comfortline.jpg' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        {% endblock %}
    </section>

        <h1 class="subtitulo_index">Elegi tu proximo auto</h1>
        <div class="contenedor_visualizar">
            <!-- 
                i-- Variable para el conteo
                forms -- Palabra enviada desde "Data" para Traer los Datos
                for -- Ciclo por Conteo
                Desde el Primer Elemento hasta el Ultimo elemento
            -->
            {% for i in forms %}
            <div class="card" style="width: 18rem;">
                <!-- Pasamos la Ruta de la Imagen Registrada -->
                <img src="{{i.Imagen.url}}" class="card-img-top" alt="Imagen BD">
                <div class="card-body">
                  <h4 class="card-title">Nombre: {{i.Nombre}}</h4>
                  <h5 class="card-title">Casa: {{i.Casa}}</h5>
                  <p class="card-text">Hechizo: {{i.Hechizo}}</p>
                  {% if perms.App.change_personajes %}
                  <a href="{% url 'modificar' i.Codigo %}" class="btn btn-warning">Editar</a>
                  {% endif %}
                  {% if perms.App.delete_personajes %}
                  <a href="{% url 'eliminar' i.Codigo %}" class="btn btn-danger">Eliminar</a>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
        </div>

       
    </main>
     <!-- Sector Footer -->
     <footer>
        <div class="grid">
            <div class="item"><p>Contacto</p>
                <div class="info">
                    <p>Buenos Aires - Argentina</p>
                    <p>infonexus@gmail.com</p>
                    <p>2152-8250</p>
                </div>
            </div>
            <div class="item"><p>Redes Sociales</p>
                    <div class="redes">
                        <a href=""> <img class="imgredes" src="{% static 'img/index/facebook.png' %}" alt="" width="50px"></a>
                        <a href=""><img class="imgredes" src="{% static 'img/index/gorjeo.png' %}" alt="" width="50px"></a>
                        <a href=""><img class="imgredes" src="{% static 'img/index/ig.png' %}" alt="" width="50px"></a>
                        <a href=""><img class="imgredes" src="{% static 'img/index/whatsapp.png' %}" alt="" width="50px"></a> 
                    </div>
            </div>
            <div class="item"><p>Ubicacion</p>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.9158722651814!2d-58.50334891114503!3d-34.631566199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9eda4081ad1%3A0x562f7ca5055fb8b6!2sJN%20AUTOMOTORES%20SRL!5e0!3m2!1sen!2sar!4v1727930479085!5m2!1sen!2sar" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
       
         <div class="derechos">
            <p>_____________________________________________________________________________________________________________________________________________</p>
            <p>&copy; 2016 | Consesionaria Nexus |<a href=""> www.Nexus.com</a> </p>
            <!-- <p>&copy; 2024 Grupo de estudiantes de la Técnica N*1 de Esteban Echeverría. Todos los derechos reservados.</p> -->
         </div>
    </footer>
    <!-- Hoja de Acciones de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>